https://stackoverflow.com/questions/35483328/how-do-i-set-up-jupyter-ipython-notebook-for-django

Click above for instructions on how this notebook was set up.

In [19]:
import os, sys
PWD = os.getenv('PWD')
os.chdir(PWD)
sys.path.insert(0, os.getenv('PWD'))
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true" 
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "local_settings.py")
import django
django.setup()

In [89]:
from datetime import datetime
from django.db import reset_queries
from django.db import connection

def show_queries():
    for query in connection.queries:
        print('Query: ' + query['sql'] + '\n')
        print('Time Elapsed: ' + query['time'])
        
    reset_queries()

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///db.sqlite3

# General DB Info

## Match Data

In [5]:
%%sql

SELECT * FROM data_match LIMIT 5

 * sqlite:///db.sqlite3
Done.

[(1, '4197411473', '12.2.419.1399', 11, 420, 'CLASSIC', 'MATCHED_GAME', 'teambuilder-match-4197411473', 'NA1', '', 1643428906000, 1643429004491, 1643431079589, 2075, '2', 'NA1_4197411473'),
 (2, '4307899146', '12.9.439.127', 11, 900, 'URF', 'MATCHED_GAME', 'teambuilder-match-4307899146', 'NA1', '', 1652576116000, 1652576149972, 1652577163142, 1013, '2', 'NA1_4307899146'),
 (3, '4541900656', '12.23.483.5208', 11, 400, 'CLASSIC', 'MATCHED_GAME', 'teambuilder-match-4541900656', 'NA1', '', 1673195078024, 1673195340592, 1673197277274, 1936, '2', 'NA1_4541900656'),
 (4, '4324849117', '12.10.442.9993', 11, 400, 'CLASSIC', 'MATCHED_GAME', 'teambuilder-match-4324849117', 'NA1', '', 1653918458000, 1653918513715, 1653920569304, 2055, '2', 'NA1_4324849117'),
 (5, '4402583613', '12.15.458.1416', 11, 420, 'CLASSIC', 'MATCHED_GAME', 'teambuilder-match-4402583613', 'NA1', '', 1660260171974, 1660260194724, 1660262268902, 2074, '2', 'NA1_4402583613')]

## Participant Data:

Links to data_match based on match_id

In [6]:
%%sql

SELECT * FROM data_participant LIMIT 5

 * sqlite:///db.sqlite3
Done.

[(1, 100, '1', 'Bigmeterr', '5dsfqsDueajWQNSGBpFmGPpKyLmYePyshRxT6ThW0AwppMPYD0LWi4HyBQ', 30, 907, '', '', 2075, 6, 'Urgot', '18', 18979, 'SOLO', 'TOP', 'TOP', 'TOP', 11, 9, 14, 1, 0, 0, 0, 0, 2, 4, 4, 398, 303, 16487, 15060, 7, 194, 0, 3, 31, 0, 2, 1, 7, 2, 4866, 0, 1, 0, 39962, 53918, 2849, 32513, 4599, 4538, 1260, 174018, 38655, 4565, 4293, 183122, 44209, 438, 42, 2, 7166, 7166, 0, 0, 0, 0, 1, 1, 1, 1, 3, 3, 7, 7166, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, 0, 'GIxgEwBce5InWiTo8fJl0p3g1yE42ueBsjQqS6gMYZgEl9nGnKIv2qVW9U_6ChE209FTQB8jQy8n7g', 26, 3053, 3076, 3748, 3047, 3071, 6662, 3340, 26, 91, 24, 14, 14, 4, 6, 5, 0, 1, 0, 1, 0, 0, 0, 0, 1, None),
 (2, 100, '2', 'nun2spicy', 'vF9MdYjk7vO1E8GdoxgdHMpY0mRKN0ACPyA8-yKbL-wdlbatlK6PZM-ZSg', 31, 5212, '', '', 2075, 11, 'MasterYi', '17', 16943, 'NONE', 'JUNGLE', 'JUNGLE', 'JUNGLE', 5, 11, 13, 2, 1, 0, 0, 0, 3, 4, 4, 270, 380, 14251, 14000, 108, 29, 0, 0, 12, 0, 0, 0, 0, 3, 6017, 0, 1, 0, 33243, 25797, 5217, 25830, 2194, 5139, 0, 123026, 15650, 34030, 11515, 162195, 27165, 235, 9, 0, 25380, 2365, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 7, 2365, 1, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, 0, 'oqCpI1y6oDGm3ETek51x9Cl5jAxD9hzn3TUwmPV4fWNBfX0sdpPhajsiwXU5tpWzBm5q845C-XkXQA', 23, 3047, 3072, 6672, 3124, 3036, 0, 3364, 68, 7, 31, 11, 4, 11, 5, 19, 0, 0, 0, 0, 0, 0, 0, 0, 1, None),
 (3, 100, '3', 'DuDan2s2', 'I7Dzmd_BIwI05PJwQBRZxgrGcorclBaLa3G-WSKnc5Ui8rqeI6Nod2Pqrg', 30, 26, '', '', 2075, 131, 'Diana', '18', 19296, 'SOLO', 'MIDDLE', 'MIDDLE', 'MIDDLE', 11, 8, 9, 1, 0, 0, 0, 0, 2, 3, 4, 505, 316, 15364, 15150, 64, 200, 0, 3, 20, 0, 0, 0, 11, 1, 96, 0, 1, 0, 24125, 33790, 2305, 19632, 2187, 208004, 32820, 26765, 2846, 1370, 698, 236140, 36365, 122, 12, 0, 17389, 2742, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 7, 2742, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, 0, 'JmcL5mGQIDyIU7DTjNifvmSpn75_K3EkXoyql8aw0pmjrgbrIG9ZmK1Xr41YxaFf2cK04mtUsn0bJA', 22, 3152, 3157, 4630, 3100, 3115, 3020, 3340, 99, 58, 58, 11, 4, 12, 3, 4, 0, 0, 0, 0, 0, 0, 0, 0, 1, None),
 (4, 100, '4', 'Senor Verde', 'B3HYEbdraGsfUsf7P91aPT80OulaB5xi-zsKIeeks2tOn8Y', 233, 578, '', '', 2075, 221, 'Zeri', '16', 16082, 'CARRY', 'BOTTOM', 'BOTTOM', 'BOTTOM', 9, 6, 6, 1, 0, 0, 0, 0, 2, 1, 5, 683, 247, 12844, 12608, 8, 201, 0, 4, 21, 0, 3, 3, 13, 1, 3274, 143, 2, 0, 20549, 11836, 1773, 17379, 1397, 25883, 8372, 94686, 6673, 17719, 534, 138289, 15581, 75, 5, 349, 5946, 4212, 0, 0, 0, 0, 1, 0, 1, 1, 1, 2, 7, 4212, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, 0, 'bb1qhUp85k4FrFgBHd0BcLjcG7VoD6gjSHcnK0gkIFTXVsileUS2IxmrKYjMzMWWLqvcCiVu8_3UWw', 25, 3071, 3085, 3077, 3078, 3006, 1028, 3340, 470, 27, 45, 9, 4, 7, 3, 4, 0, 0, 0, 0, 0, 0, 0, 0, 1, None),
 (5, 100, '5', 'Toprameneesha2', 'IOtxRHf82sN-JlYEpSWYvlM7zTPhLolQS9jNlOOhZW9rM80', 78, 20, '', '', 2075, 45, 'Veigar', '15', 13728, 'SUPPORT', 'BOTTOM', 'UTILITY', 'UTILITY', 14, 5, 2, 1, 0, 0, 0, 0, 2, 1, 2, 1068, 210, 8883, 9075, 8, 41, 0, 9, 68, 0, 7, 6, 31, 0, 1219, 0, 1, 0, 19618, 8286, 2136, 16536, 945, 35036, 14508, 4139, 554, 4259, 66, 43435, 15128, 312, 48, 0, 2343, 941, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 7, 941, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, 0, 'tFgiJ_TUa-fAPAYFl5QqJwELvv2AlxiAIhWSyTlL0GxDsZMbD76BNkGw4dl7o-RoN4woAM_xp6LhRw', 21, 3860, 6656, 2055, 3024, 3165, 3158, 3364, 74, 63, 50, 13, 3, 4, 5, 4, 0, 0, 0, 0, 0, 0, 0, 0, 1, None)]

## Champion Data

In [7]:
%%sql

SELECT * FROM data_champion ORDER_BY LIMIT 5

 * sqlite:///db.sqlite3
Done.

[(1, '13.5.1', 'Aatrox', '266', 'Aatrox', 'the Darkin Blade', 'Once honored defenders of Shurima against the Void, Aatrox and his brethren would eventually become an even greater threat to Runeterra, and were defeated only by cunning mortal sorcery. But after centuries of imprisonment, Aatrox was the first to find...', 'Blood Well'),
 (2, '13.5.1', 'Ahri', '103', 'Ahri', 'the Nine-Tailed Fox', "Innately connected to the magic of the spirit realm, Ahri is a fox-like vastaya who can manipulate her prey's emotions and consume their essence—receiving flashes of their memory and insight from each soul she consumes. Once a powerful yet wayward...", 'Mana'),
 (3, '13.5.1', 'Akali', '84', 'Akali', 'the Rogue Assassin', 'Abandoning the Kinkou Order and her title of the Fist of Shadow, Akali now strikes alone, ready to be the deadly weapon her people need. Though she holds onto all she learned from her master Shen, she has pledged to defend Ionia from its enemies, one...', 'Energy'),
 (4, '13.5.1', 'Akshan', '166', 'Akshan', 'the Rogue Sentinel', 'Raising an eyebrow in the face of danger, Akshan fights evil with dashing charisma, righteous vengeance, and a conspicuous lack of shirts. He is highly skilled in the art of stealth combat, able to evade the eyes of his enemies and reappear when they...', 'Mana'),
 (5, '13.5.1', 'Alistar', '12', 'Alistar', 'the Minotaur', 'Always a mighty warrior with a fearsome reputation, Alistar seeks revenge for the death of his clan at the hands of the Noxian empire. Though he was enslaved and forced into the life of a gladiator, his unbreakable will was what kept him from truly...', 'Mana')]

Item Data

In [8]:
%%sql

SELECT * FROM data_item ORDER_BY LIMIT 5

 * sqlite:///db.sqlite3
Done.

[(1, 'Boots', '<mainText><stats><attention>25</attention> Move Speed</stats></mainText><br>', ';', 'Slightly increases Move Speed', 300, 1, 300, 210, 1, 1, 1, 0, None, None),
 (2, 'Faerie Charm', '<mainText><stats><attention>50%</attention> Base Mana Regen</stats></mainText><br>', ';', 'Slightly increases Mana Regen', 250, 1, 250, 175, 1, 1, 1, 0, None, None),
 (3, 'Rejuvenation Bead', '<mainText><stats><attention>100%</attention> Base Health Regen</stats></mainText><br>', ';', 'Slightly increases Health Regen', 300, 1, 300, 120, 1, 1, 1, 0, None, None),
 (4, "Giant's Belt", '<mainText><stats><attention>350</attention> Health</stats></mainText><br>', ';', 'Greatly increases Health', 500, 1, 900, 630, 1, 1, 1, 0, None, None),
 (5, 'Cloak of Agility', '<mainText><stats><attention>15%</attention> Critical Strike Chance</stats></mainText><br>', ';', 'Increases critical strike chance', 600, 1, 600, 420, 1, 1, 1, 0, None, None)]

# Basic Questions

## What is the timespan of the dataset?

### SQL

In [9]:
%%sql

    SELECT 
        MIN(game_creation) AS [Oldest],
        MAX(game_creation) AS [Newest]
    FROM data_match

 * sqlite:///db.sqlite3
Done.

[(1634394509000, 1678936729240)]

### Django

In [109]:
from django.db.models import Max, Min

query = Match.objects.all().aggregate(first=Min('game_creation'), last=Max('game_creation'))

last_date = datetime.fromtimestamp(query['last'] / 1000).strftime("%m/%d/%Y")
first_date = datetime.fromtimestamp(query['first'] / 1000).strftime("%m/%d/%Y")

show_queries()

Query: SELECT MIN("data_match"."game_creation") AS "first", MAX("data_match"."game_creation") AS "last" FROM "data_match"

Time Elapsed: 0.000

### Answer

In [111]:
print(f"Date Range from {first_date} to {last_date}")

Date Range from 10/16/2021 to 03/16/2023

## How many games have I played?

### SQL

In [11]:
%%sql

SELECT COUNT(match_id) FROM data_match

 * sqlite:///db.sqlite3
Done.

[(996,)]

### Django

In [90]:
from data.models import Match
answer = Match.objects.all().count()

show_queries()

Query: SELECT COUNT(*) AS "__count" FROM "data_match"

Time Elapsed: 0.000

In [48]:
answer

996

### Answer

In [12]:
total_games = 996

print(f"I have played {total_games} games.")

I have played 996 games.

## How much time have I played?

### SQL

In [13]:
%%sql

SELECT SUM(game_end_timestamp - game_start_timestamp)/(3600  * 1000) AS [Total Hours Played] FROM data_match

 * sqlite:///db.sqlite3
Done.

[(437,)]

### Django

In [31]:
from django.db.models import Sum, F

In [91]:
answer = Match.objects.all().annotate(
    time_played=F('game_end_timestamp') - F('game_start_timestamp')
).aggregate(total_time=Sum("time_played"))['total_time'] / (3600 * 1000)

show_queries()

Query: SELECT SUM("time_played") FROM (SELECT ("data_match"."game_end_timestamp" - "data_match"."game_start_timestamp") AS "time_played" FROM "data_match") subquery

Time Elapsed: 0.000

In [50]:
answer

437.7492647222222

### Answer

In [30]:
print(f"I have played 437 hours of games between {start} and {end}.")

I have played 437 hours of games between 10/16/2021 and 03/16/2023.

## What is my highest winrate champion?

### SQL

In [15]:
%%sql

SELECT
    champion_name,
    COUNT(win) filter (where win) as win_count,
    COUNT(match_id) as num_played,
    CAST((COUNT(win) filter (where win)) as FLOAT)
    / CAST((COUNT(match_id)) as FLOAT)
    as winrate
FROM data_participant
WHERE summoner_name = "Senor Verde"
GROUP BY champion_name
ORDER BY winrate DESC

 * sqlite:///db.sqlite3
Done.

[('Zyra', 3, 3, 1.0),
 ('Xayah', 1, 1, 1.0),
 ('Vex', 1, 1, 1.0),
 ('Taric', 1, 1, 1.0),
 ('Sylas', 1, 1, 1.0),
 ('Singed', 1, 1, 1.0),
 ('Shyvana', 2, 2, 1.0),
 ('Qiyana', 1, 1, 1.0),
 ('Olaf', 1, 1, 1.0),
 ('MonkeyKing', 1, 1, 1.0),
 ('Katarina', 1, 1, 1.0),
 ('Jax', 1, 1, 1.0),
 ('JarvanIV', 5, 5, 1.0),
 ('Ivern', 1, 1, 1.0),
 ('Elise', 1, 1, 1.0),
 ('Soraka', 9, 13, 0.6923076923076923),
 ('Warwick', 15, 22, 0.6818181818181818),
 ('Rammus', 2, 3, 0.6666666666666666),
 ('Nami', 4, 6, 0.6666666666666666),
 ('Karma', 2, 3, 0.6666666666666666),
 ('Jayce', 2, 3, 0.6666666666666666),
 ('DrMundo', 15, 23, 0.6521739130434783),
 ('Twitch', 14, 23, 0.6086956521739131),
 ('Sona', 17, 28, 0.6071428571428571),
 ('Yuumi', 3, 5, 0.6),
 ('Xerath', 3, 5, 0.6),
 ('Leona', 3, 5, 0.6),
 ('Blitzcrank', 22, 37, 0.5945945945945946),
 ('Sivir', 7, 12, 0.5833333333333334),
 ('Nunu', 4, 7, 0.5714285714285714),
 ('Ashe', 31, 55, 0.5636363636363636),
 ('Mordekaiser', 5, 9, 0.5555555555555556),
 ('Morgana', 8, 15, 0.5333333333333333),
 ('Senna', 69, 132, 0.5227272727272727),
 ('MissFortune', 70, 135, 0.5185185185185185),
 ('Zilean', 2, 4, 0.5),
 ('Zeri', 2, 4, 0.5),
 ('Viego', 3, 6, 0.5),
 ('Varus', 2, 4, 0.5),
 ('Tryndamere', 1, 2, 0.5),
 ('Tristana', 1, 2, 0.5),
 ('Shen', 2, 4, 0.5),
 ('Shaco', 2, 4, 0.5),
 ('Samira', 1, 2, 0.5),
 ('Rakan', 2, 4, 0.5),
 ('Maokai', 1, 2, 0.5),
 ('KogMaw', 2, 4, 0.5),
 ('Kindred', 2, 4, 0.5),
 ('Kassadin', 1, 2, 0.5),
 ('Ekko', 2, 4, 0.5),
 ('Diana', 2, 4, 0.5),
 ('Anivia', 1, 2, 0.5),
 ('Amumu', 13, 26, 0.5),
 ('Ahri', 1, 2, 0.5),
 ('Caitlyn', 23, 47, 0.48936170212765956),
 ('Vi', 4, 9, 0.4444444444444444),
 ('Jinx', 11, 25, 0.44),
 ('Jhin', 25, 57, 0.43859649122807015),
 ('Pyke', 3, 7, 0.42857142857142855),
 ('Pantheon', 6, 14, 0.42857142857142855),
 ('Lucian', 3, 7, 0.42857142857142855),
 ('Brand', 18, 43, 0.4186046511627907),
 ('Zac', 2, 5, 0.4),
 ('Sion', 2, 5, 0.4),
 ('Nilah', 1, 3, 0.3333333333333333),
 ('Nasus', 3, 9, 0.3333333333333333),
 ('Lulu', 1, 3, 0.3333333333333333),
 ('Karthus', 1, 3, 0.3333333333333333),
 ('Hecarim', 1, 3, 0.3333333333333333),
 ('Ziggs', 1, 4, 0.25),
 ('Veigar', 1, 4, 0.25),
 ('Nautilus', 2, 8, 0.25),
 ('Corki', 1, 4, 0.25),
 ('Ezreal', 3, 13, 0.23076923076923078),
 ('Kaisa', 1, 5, 0.2),
 ('MasterYi', 1, 6, 0.16666666666666666),
 ('Lux', 1, 8, 0.125),
 ('Zoe', 0, 3, 0.0),
 ('Zed', 0, 2, 0.0),
 ('Yone', 0, 1, 0.0),
 ('Yasuo', 0, 1, 0.0),
 ('Volibear', 0, 1, 0.0),
 ('Viktor', 0, 2, 0.0),
 ('Velkoz', 0, 4, 0.0),
 ('Udyr', 0, 2, 0.0),
 ('Thresh', 0, 1, 0.0),
 ('Teemo', 0, 2, 0.0),
 ('TahmKench', 0, 3, 0.0),
 ('Sett', 0, 1, 0.0),
 ('Seraphine', 0, 1, 0.0),
 ('Ryze', 0, 1, 0.0),
 ('Renata', 0, 1, 0.0),
 ('Ornn', 0, 1, 0.0),
 ('Neeko', 0, 1, 0.0),
 ('Malphite', 0, 6, 0.0),
 ('Lissandra', 0, 3, 0.0),
 ('Kayle', 0, 2, 0.0),
 ('Kalista', 0, 1, 0.0),
 ('Gangplank', 0, 1, 0.0),
 ('Fizz', 0, 1, 0.0),
 ('FiddleSticks', 0, 1, 0.0),
 ('Draven', 0, 2, 0.0),
 ('Darius', 0, 2, 0.0),
 ('Chogath', 0, 7, 0.0),
 ('Annie', 0, 1, 0.0)]

### Django

In [98]:
from data.models import Participant
from django.db.models import Count, IntegerField, FloatField
from django.db.models.functions import Cast

answer = Participant.objects.filter(
    summoner_name="Senor Verde"
).values(
    "champion_name"
).annotate(
    win_count=Sum(Cast("win", IntegerField())),
    total_games=Count("match_id"),
    winrate=Sum(Cast("win", FloatField()))/Cast(Count("match_id"), FloatField())
).order_by('-winrate')

show_queries()

Query: SELECT "data_participant"."champion_name", SUM(CAST("data_participant"."win" AS integer)) AS "win_count", COUNT("data_participant"."match_id") AS "total_games", (SUM(CAST("data_participant"."win" AS real)) / CAST(COUNT("data_participant"."match_id") AS real)) AS "winrate" FROM "data_participant" WHERE "data_participant"."summoner_name" = 'Senor Verde' GROUP BY "data_participant"."champion_name" ORDER BY "winrate" DESC

Time Elapsed: 0.003

In [97]:
for item in answer:
    print(f"{item['champion_name']}: {item['win_count']} / {item['total_games']} ({item['winrate']})")

Zyra: 3 / 3 (1.0)
Xayah: 1 / 1 (1.0)
Vex: 1 / 1 (1.0)
Taric: 1 / 1 (1.0)
Sylas: 1 / 1 (1.0)
Singed: 1 / 1 (1.0)
Shyvana: 2 / 2 (1.0)
Qiyana: 1 / 1 (1.0)
Olaf: 1 / 1 (1.0)
MonkeyKing: 1 / 1 (1.0)
Katarina: 1 / 1 (1.0)
Jax: 1 / 1 (1.0)
JarvanIV: 5 / 5 (1.0)
Ivern: 1 / 1 (1.0)
Elise: 1 / 1 (1.0)
Soraka: 9 / 13 (0.6923076923076923)
Warwick: 15 / 22 (0.6818181818181818)
Rammus: 2 / 3 (0.6666666666666666)
Nami: 4 / 6 (0.6666666666666666)
Karma: 2 / 3 (0.6666666666666666)
Jayce: 2 / 3 (0.6666666666666666)
DrMundo: 15 / 23 (0.6521739130434783)
Twitch: 14 / 23 (0.6086956521739131)
Sona: 17 / 28 (0.6071428571428571)
Yuumi: 3 / 5 (0.6)
Xerath: 3 / 5 (0.6)
Leona: 3 / 5 (0.6)
Blitzcrank: 22 / 37 (0.5945945945945946)
Sivir: 7 / 12 (0.5833333333333334)
Nunu: 4 / 7 (0.5714285714285714)
Ashe: 31 / 55 (0.5636363636363636)
Mordekaiser: 5 / 9 (0.5555555555555556)
Morgana: 8 / 15 (0.5333333333333333)
Senna: 69 / 132 (0.5227272727272727)
MissFortune: 70 / 135 (0.5185185185185185)
Zilean: 2 / 4 (0.5)
Zeri: 2 / 4 (0.5)
Viego: 3 / 6 (0.5)
Varus: 2 / 4 (0.5)
Tryndamere: 1 / 2 (0.5)
Tristana: 1 / 2 (0.5)
Shen: 2 / 4 (0.5)
Shaco: 2 / 4 (0.5)
Samira: 1 / 2 (0.5)
Rakan: 2 / 4 (0.5)
Maokai: 1 / 2 (0.5)
KogMaw: 2 / 4 (0.5)
Kindred: 2 / 4 (0.5)
Kassadin: 1 / 2 (0.5)
Ekko: 2 / 4 (0.5)
Diana: 2 / 4 (0.5)
Anivia: 1 / 2 (0.5)
Amumu: 13 / 26 (0.5)
Ahri: 1 / 2 (0.5)
Caitlyn: 23 / 47 (0.48936170212765956)
Vi: 4 / 9 (0.4444444444444444)
Jinx: 11 / 25 (0.44)
Jhin: 25 / 57 (0.43859649122807015)
Pyke: 3 / 7 (0.42857142857142855)
Pantheon: 6 / 14 (0.42857142857142855)
Lucian: 3 / 7 (0.42857142857142855)
Brand: 18 / 43 (0.4186046511627907)
Zac: 2 / 5 (0.4)
Sion: 2 / 5 (0.4)
Nilah: 1 / 3 (0.3333333333333333)
Nasus: 3 / 9 (0.3333333333333333)
Lulu: 1 / 3 (0.3333333333333333)
Karthus: 1 / 3 (0.3333333333333333)
Hecarim: 1 / 3 (0.3333333333333333)
Ziggs: 1 / 4 (0.25)
Veigar: 1 / 4 (0.25)
Nautilus: 2 / 8 (0.25)
Corki: 1 / 4 (0.25)
Ezreal: 3 / 13 (0.23076923076923078)
Kaisa: 1 / 5 (0.2)
MasterYi: 1 / 6 (0.16666666666666666)
Lux: 1 / 8 (0.125)
Zoe: 0 / 3 (0.0)
Zed: 0 / 2 (0.0)
Yone: 0 / 1 (0.0)
Yasuo: 0 / 1 (0.0)
Volibear: 0 / 1 (0.0)
Viktor: 0 / 2 (0.0)
Velkoz: 0 / 4 (0.0)
Udyr: 0 / 2 (0.0)
Thresh: 0 / 1 (0.0)
Teemo: 0 / 2 (0.0)
TahmKench: 0 / 3 (0.0)
Sett: 0 / 1 (0.0)
Seraphine: 0 / 1 (0.0)
Ryze: 0 / 1 (0.0)
Renata: 0 / 1 (0.0)
Ornn: 0 / 1 (0.0)
Neeko: 0 / 1 (0.0)
Malphite: 0 / 6 (0.0)
Lissandra: 0 / 3 (0.0)
Kayle: 0 / 2 (0.0)
Kalista: 0 / 1 (0.0)
Gangplank: 0 / 1 (0.0)
Fizz: 0 / 1 (0.0)
FiddleSticks: 0 / 1 (0.0)
Draven: 0 / 2 (0.0)
Darius: 0 / 2 (0.0)
Chogath: 0 / 7 (0.0)
Annie: 0 / 1 (0.0)

### Answer

I have a 100% winrate with the following champions:
* Elise
* Ivern
* JarvanIV
* Jax
* Katarina
* MonkeyKing
* Olaf
* Qiyana
* Shyvana
* Singed
* Sylas
* Taric
* Vex
* Xayah
* Zyra

Let's look at champions where i've played more than 10 games

### SQL

In [16]:
%%sql

SELECT
    champion_name,
    COUNT(win) filter (where win) as win_count,
    COUNT(match_id) as num_played,
    CAST((COUNT(win) filter (where win)) as FLOAT)
    / CAST((COUNT(match_id)) as FLOAT)
    as winrate
FROM data_participant
WHERE
    summoner_name = "Senor Verde"
GROUP BY champion_name
HAVING num_played > 10
ORDER BY winrate DESC

 * sqlite:///db.sqlite3
Done.

[('Soraka', 9, 13, 0.6923076923076923),
 ('Warwick', 15, 22, 0.6818181818181818),
 ('DrMundo', 15, 23, 0.6521739130434783),
 ('Twitch', 14, 23, 0.6086956521739131),
 ('Sona', 17, 28, 0.6071428571428571),
 ('Blitzcrank', 22, 37, 0.5945945945945946),
 ('Sivir', 7, 12, 0.5833333333333334),
 ('Ashe', 31, 55, 0.5636363636363636),
 ('Morgana', 8, 15, 0.5333333333333333),
 ('Senna', 69, 132, 0.5227272727272727),
 ('MissFortune', 70, 135, 0.5185185185185185),
 ('Amumu', 13, 26, 0.5),
 ('Caitlyn', 23, 47, 0.48936170212765956),
 ('Jinx', 11, 25, 0.44),
 ('Jhin', 25, 57, 0.43859649122807015),
 ('Pantheon', 6, 14, 0.42857142857142855),
 ('Brand', 18, 43, 0.4186046511627907),
 ('Ezreal', 3, 13, 0.23076923076923078)]

### Django

In [102]:
reset_queries()

answer = Participant.objects.filter(
    summoner_name="Senor Verde"
).values(
    "champion_name"
).annotate(
    win_count=Sum(Cast("win", IntegerField())),
    total_games=Count("match_id"),
    winrate=Sum(Cast("win", FloatField()))/Cast(Count("match_id"), FloatField())
).filter(
    total_games__gte=10
).order_by('-winrate')

show_queries()

Looks like it doesn't run additional queries, since it has already ran the underlying query above

### Answer

I've played a lot of Mundo and Sona in the past, but those don't show up in these records; funny that the champs I play the most, Senna and Miss Fortune, hover around the middle at just above 50% winrate.